h1 {
  color: red;
}


/*-------------Navbar styling*----------------------*/

.navbar-fixed-top, .navbar-fixed-bottom {
  border-radius: 0;
  height: 68px;
}

.navbar-default .navbar-nav>li>a {
  color: #353535;
  margin-left: 40px;
  font-size: 1.2em;
  font-weight: 200;
}

.navbar-nav.navbar-right:last-child {
  margin-right: 10px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  padding-top: 10px;
}



/*-------------Navbar styling*----------------------*/

/*==================image styling=========*/

img.hero-image {
  width: 100%;
}

.col-md-12, .col-lg-12 {
    padding: none;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}


/*==================image styling=========*/







